header{
    background-color: #2F3239 ;
}
header h1{
    margin: 0 auto;
    text-align: center;
    color: white;
}


header a{ 
    text-decoration: none;
    color: white;
    font-size: bold;
    
}
header ul{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
} 
header li{
    list-style: none;
    padding: 1em;
}
