.searchDateInput{
    font-size:1.8em;
    width:20%;
    margin: 1%;
}
.add-movie{
    background-color: white;
}
.search{
    background-color: white;
}

.select li{
    list-style-type: none;
    font-weight: bold;
}
.select a{
    color: black;
}

.select-list{
    padding:0;
}
.select img{
    width: 30%;
}
@media only screen and (min-width: 768px) {
    .select li{
        display: table-cell;
        vertical-align: middle;
        table-layout: auto;
        width: 33%;
    }
  }
  @media only screen and (min-width: 992px) {
    .select img{
        width: 30%;
    }
  } 