/*form*/
.search{
    display:flex;
    justify-content: space-around;
}
.searchTitleInput{
    font-size:1.2em;
    width:55%;
    margin: 1%;
}
.filter{
    margin: 1%;
    appearance: none;
    border: 0; 
    background-color: #555;
    color: #fff;
    border: 1px solid #555;
    text-align: center;
}

.search-button{
    cursor: pointer;
    border: 1px solid #555;
    color: #fff;
    background-color: #555;
    font-size: 12px;
    transition: 200ms;
    margin: 1%;
    text-align: center;
}

.search-button:hover {
    background-color: #fff;
    color: #555;
}

.error-server{
    color: red;
    height: 100vh;
    padding: 1%;
    background-color: white;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    /*form*/ 
    .searchTitleInput{
        font-size:1.8em;
        width:80%;
        margin: 1%;
    }

    .filter{
        margin: 1%;
        appearance: none;
        border: 0; 
        background-color: #555;
        color: white;
        border: 1px solid #555;
        text-align: center;
    }

    .search-button{
        cursor: pointer;
        border: 1px solid #555;
        padding: 14px 30px;
        color: #fff;
        background-color: #555;
        font-size: 16px;
        transition: 200ms;
        margin: 1%;
        text-align: center;
    }

}
@media only screen and (min-width: 992px) {
    .card-container { 
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        align-items: center;
    }
  } 


