main{
  background-image: url("../img/pexels-frank-cone-3573555.jpg");
  background-size: cover;
  }
  
  .content{
    width: 70%;
    margin: auto;
    min-height: 800px;
  }

  h2{
    margin-top:0;
  }
  .add-movie{
    background-color: white;
  }